@model InAndOut.Models.Attendance

<form method="post" asp-action="Create">
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Attendance</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="AttendanceDate"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="ArrivalTime"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="DepartureTime"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="AttendanceDate" class="form-control" />
                        <span asp-validation-for="AttendanceDate" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="ArrivalTime" class="form-control" />
                        <span asp-validation-for="ArrivalTime" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="DepartureTime" class="form-control" />
                        <span asp-validation-for="DepartureTime" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" 
                                   class="btn btn-outline-info w-75"
                                   onclick="return confirm('Are you sure you want to Save the record')"
                                   value="create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-outline-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}