@{
    ViewData["Title"] = "Home";
}


<div class="text-center">
    <h1 class="display-4">Maris Stella College</h1>
    Document Management System
    <p>Learn about <a href="https://marisstellacollege.lk">More Info</a>.</p>
</div>
<div class="d-flex justify-content-center align-items-center">

<a href="https://marisstellacollege.lk/">
    <img alt="Qries" src="https://marisstellacollege.lk/maris/wp-content/uploads/2021/07/Maris_Stella_Logo.png"
         width=250" height="350">
</a>
</div>
    


@*<div class="text-center">
    <h1 class="display-4">Document Viewer</h1>
    <br />

    <form action="@Url.Action("ViewDocument")" method="POST">
          <label>Select a file to view</label>
          <input type="file" name="fileToView" />
          <input type="submit" class="btn btn-success" value="Render" />
    </form>





</div>*@
