@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    In the present society money and some social factors are considered as one of the most important facts but the level of well being of the student society is decreasing at a high speed when compared with the past. It may be due to lack of guiding of the personal values, visions and, not aligned aims .

    Proper education results a person equipped with good characteristics and well being . He is a person who can stand by himself and takes the best decision at the life events. Maris Stella College is a place that provides proper directions and guide to the students equally and encourages to be a mentally strong person with catholic values while he is developing his educational background. By joining the associations , school activities , retreats and other events ,  students are educated  to win their life with true values. The principal , Sectional heads and the rest of the staff members help to enact this environment.
</p>

    <ul>
    <b>Contact Details - </b>
    </ul>
    <ul>
        Maris Stella College, Negombo, Srilanka.
    </ul>
    <ul>
        +(94) 031 2224777
    </ul>
    <ul>
        marisstellaneg@gmail.com
    </ul>


